span.b {
    color: red;
    font-weight: bold;
    font-family: monospace;
}

span.m {
    color: blue;
    font-weight: bold;
    font-family: monospace;
}

span.e {
    color: red;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid red;
}

.title {
    text-align: center;
}

#title {
    padding-bottom: 0.3%;
    background-color: rgb(22, 22, 22);
}

.container-fluid {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    color: white;
    margin-top: 5%;
}

.btn-set {
    width: 20%;
    padding: 3px 9px;
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(43, 37, 37);
    border: 1px solid rgb(43, 37, 37);
    border-radius: 2%;
}

.btn-set:hover {
    background-color: black;
    color: red;
}

.btn-set:active {
    border: none;
}

textarea {
    resize: none;
}

#content {
    background-color: rgb(37, 35, 35);
    color: white;
    font-size: 17px;
}

a {
    text-decoration: none;
}

.code-bar {
    height: 100%;
    width: 230px;
    text-align: left;
    background-color: blue;
    font-size: 23px;
    overflow: hidden;
}

.code-bar a {
    padding: 16px;
    display: block;
    transition: all 0.3s ease;
    color: white;
}

.code-bar a:hover {
    background-color: black;
    color: red;
    text-decoration: none;
}

.wrap {
    width: 60%;
    margin: 3%;
    margin-left: 4%;
}

.wrap-all {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#label {
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}

#q_loader {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity: 1;
}

#q_loader2 {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.pos {
    width: 80%;
    height: 500px;
    position: absolute;
    top: 50px;
    right: 10%;
}

.q_popup {
    width: 15%;
    height: auto;
    background-color: rgb(7, 7, 7);
    color: blue;
    padding: 2%;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 2%;
    right: 40.1%;
    overflow: hidden;
}

.wrap_load {
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    text-align: center;
    position: relative;
    border-radius: 3px;
    border: 0px;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mybtn {
    width: 20%;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    background-color: rgb(43, 37, 37);
    border: rgb(43, 37, 37);
    padding: 1%;
    position: absolute;
    bottom: 16%;
    left: 43%;
}

.mybtn:hover {
    text-decoration: none;
    background-color: black;
    color: red;
}

.txt {
    position: absolute;
    top: 48%;
    font-size: 20px;
    color: white;
}

.r {
    color: red;
    font-family: monospace;
    font-size: 25px;
}

.bl {
    color: blue;
    font-family: monospace;
    font-size: 25px;
}

.wh {
    color: red;
    font-size: 15px;
    padding: 1px;
    border: 1px solid red;
    background-color: white;
    border-radius: 50%;
    font-family: monospace;
}

.black {
    color: red;
    font-weight: 500;
}

#cName {
    font-size: 100%;
}